In [1]:
from selenium import webdriver
browser = webdriver.Chrome()
browser.get('https://scraping-for-beginner.herokuapp.com/ranking/')

In [2]:
elems_rank = browser.find_elements_by_class_name('u_rankBox')

/var/folders/00/17_ysw_55nz32_z224xhl0dh0000gn/T/ipykernel_80470/2816664596.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elems_rank = browser.find_elements_by_class_name('u_rankBox')

In [7]:
elems_rank[0].find_element_by_class_name('evaluateNumber').text

'4.7'

In [43]:
elems_rank = browser.find_elements_by_class_name('u_rankBox')
ranks = []

for elem_rank in elems_rank:
    rank = elem_rank.find_element_by_class_name('evaluateNumber')
    rank = float(rank.text)
    ranks.append(rank)

/var/folders/00/17_ysw_55nz32_z224xhl0dh0000gn/T/ipykernel_80470/3334628598.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elems_rank = browser.find_elements_by_class_name('u_rankBox')

In [44]:
ranks

[4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1]

In [33]:
type(ranks[0])

float

In [54]:
categories = []
elems = browser.find_elements_by_class_name('u_categoryTipsItem')

for elem in elems:
    elems_rank = elem.find_elements_by_class_name('is_rank')
    _ranks =[]
    for elem_rank in elems_rank:
        _ranks.append(float(elem_rank.find_element_by_class_name('evaluateNumber').text))
    categories.append(_ranks)

/var/folders/00/17_ysw_55nz32_z224xhl0dh0000gn/T/ipykernel_80470/4275385555.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elems = browser.find_elements_by_class_name('u_categoryTipsItem')

In [55]:
categories

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6]]

In [61]:
### Pandasのけいしきに変換
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
elem_title = elem_rankingBox.find_element_by_class_name('u_title')
elem_title.text
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')
# 全ての観光地名を格納するリスト titles
titles = []

for elem_rankingBox in elems_rankingBox:
    #elem_rankingBox = elems_rankingBox[1]
    elem_title = elem_rankingBox.find_element_by_class_name('u_title')
    title = elem_title.text.split('\n')[1]
    titles.append(title)

/var/folders/00/17_ysw_55nz32_z224xhl0dh0000gn/T/ipykernel_80470/4108561127.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
/usr/local/lib/python3.9/site-packages/selenium/webdriver/remote/webelement.py:446: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")
/var/folders/00/17_ysw_55nz32_z224xhl0dh0000gn/T/ipykernel_80470/4108561127.py:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

In [84]:
import pandas as pd
df = pd.DataFrame()

In [85]:
df['観光地名'] = titles
df['総合評価'] = ranks

In [86]:
df_categories = pd.DataFrame(categories)
df_categories.columns= ['楽しさ','人混みの多さ','景色','アクセス']
df_categories

   楽しさ  人混みの多さ   景色  アクセス
0  4.6     4.5  4.9   4.2
1  4.6     4.5  4.9   4.2
2  4.5     4.4  4.8   4.1
3  4.4     4.4  4.8   4.0
4  4.4     4.3  4.7   4.0
5  4.3     4.3  4.7   3.9
6  4.2     4.2  4.6   3.8
7  4.2     4.2  4.6   3.8
8  4.1     4.1  4.5   3.7
9  4.0     4.1  4.4   3.6

In [87]:
df = pd.concat([df,df_categories], axis = 1)
df

     観光地名  総合評価  楽しさ  人混みの多さ   景色  アクセス
0   観光地 1   4.7  4.6     4.5  4.9   4.2
1   観光地 2   4.7  4.6     4.5  4.9   4.2
2   観光地 3   4.6  4.5     4.4  4.8   4.1
3   観光地 4   4.5  4.4     4.4  4.8   4.0
4   観光地 5   4.5  4.4     4.3  4.7   4.0
5   観光地 6   4.4  4.3     4.3  4.7   3.9
6   観光地 7   4.3  4.2     4.2  4.6   3.8
7   観光地 8   4.3  4.2     4.2  4.6   3.8
8   観光地 9   4.2  4.1     4.1  4.5   3.7
9  観光地 10   4.1  4.0     4.1  4.4   3.6

In [88]:
df.to_csv('観光地情報.csv', index = False)

In [89]:
df

     観光地名  総合評価  楽しさ  人混みの多さ   景色  アクセス
0   観光地 1   4.7  4.6     4.5  4.9   4.2
1   観光地 2   4.7  4.6     4.5  4.9   4.2
2   観光地 3   4.6  4.5     4.4  4.8   4.1
3   観光地 4   4.5  4.4     4.4  4.8   4.0
4   観光地 5   4.5  4.4     4.3  4.7   4.0
5   観光地 6   4.4  4.3     4.3  4.7   3.9
6   観光地 7   4.3  4.2     4.2  4.6   3.8
7   観光地 8   4.3  4.2     4.2  4.6   3.8
8   観光地 9   4.2  4.1     4.1  4.5   3.7
9  観光地 10   4.1  4.0     4.1  4.4   3.6

In [93]:
# 全ページの情報を取得

In [95]:
i = 3
'https://scraping-for-beginner.herokuapp.com/ranking/?page={}'.format(i)

SyntaxError: invalid syntax (1723804935.py, line 1)

In [99]:
title = []
ranks = []
categories = []

for page in range(1,4):
    
    url = 'https://scraping-for-beginner.herokuapp.com/ranking/?page={}'.format(page)
    browser.get(url)
    
    #観光地名
    elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')
    for elem_rankingBox in elems_rankingBox:
        #elem_rankingBox = elems_rankingBox[1]
        elem_title = elem_rankingBox.find_element_by_class_name('u_title')
        title = elem_title.text.split('\n')[1]
        titles.append(title)
    
    #総合評価
    elems_rank = browser.find_elements_by_class_name('u_rankBox')
    for elem_rank in elems_rank:
        rank = elem_rank.find_element_by_class_name('evaluateNumber')
        rank = float(rank.text)
        ranks.append(rank)
    
    #各項目
    elems = browser.find_elements_by_class_name('u_categoryTipsItem')
    for elem in elems:
        elems_rank = elem.find_elements_by_class_name('is_rank')
        _ranks =[]
        for elem_rank in elems_rank:
            _ranks.append(float(elem_rank.find_element_by_class_name('evaluateNumber').text))
        categories.append(_ranks)

/var/folders/00/17_ysw_55nz32_z224xhl0dh0000gn/T/ipykernel_80470/2219216355.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')
/usr/local/lib/python3.9/site-packages/selenium/webdriver/remote/webelement.py:446: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")
/var/folders/00/17_ysw_55nz32_z224xhl0dh0000gn/T/ipykernel_80470/2219216355.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elems_rank = browser.find_elements_by_class_name('u_rankBox')
/var/folders/00/17_ysw_55nz32_z224xhl0dh0000gn/T/ipykernel_80470/2219216355.py:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elems = browser.find_elements_by_class_name('u_categoryTipsItem')
/usr/local/lib/python3.9/site-packages/selenium/webdriver/remote/webelement.py:464: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [102]:
categories

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6],
 [4.0, 4.0, 4.4, 3.6],
 [3.9, 4.0, 4.3, 3.5],
 [3.8, 3.9, 4.3, 3.4],
 [3.8, 3.9, 4.2, 3.4],
 [3.7, 3.8, 4.2, 3.3],
 [3.6, 3.8, 4.1, 3.2],
 [3.6, 3.7, 4.1, 3.2],
 [3.5, 3.7, 4.0, 3.1],
 [3.4, 3.6, 3.9, 3.0],
 [3.4, 3.6, 3.9, 3.0],
 [3.3, 3.5, 3.8, 2.9],
 [3.2, 3.5, 3.8, 2.8],
 [3.2, 3.4, 3.7, 2.8],
 [3.1, 3.4, 3.7, 2.7],
 [3.0, 3.3, 3.6, 2.6],
 [3.0, 3.3, 3.6, 2.6],
 [2.9, 3.2, 3.5, 2.5],
 [2.8, 3.2, 3.4, 2.4],
 [2.8, 3.1, 3.4, 2.4],
 [2.7, 3.1, 3.3, 2.3]]